@import url(reset.css);
@import url(global.css);
@import url(cards.css);

/* Anotação sobre comando "novo": transform: scale(); */

/* BODY */

body {
  background-color: var(--primary-color);
}

body::before {
  content: "";
  width: 100vw;
  height: 100vh;
  
  background-image: url(../../assets/images/spider-man-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  opacity: 0.2;

  transition: background-image 0.8s ease-in-out, opacity 0.8s ease-in-out;
}

body#spider-man-01--hovered::before {
  background-image: url(../../assets/images/pic-sm-bg-01.jpg);
  opacity: 1;
}

body#spider-man-02--hovered::before {
  background-image: url(../../assets/images/pic-sm-bg-02.jpg);
  opacity: 1;
}

body#spider-man-03--hovered::before {
  background-image: url(../../assets/images/pic-sm-bg-03.jpg);
  opacity: 1;
}

body[id^=spider-man-] .s-card:not(.s-card--hovered) {
  filter: grayscale(100%);
}

/* MENU */

.s-menu {
  padding: 1rem 0;
  width: 100%;
  text-align: center;
  position: relative;
}

.s-menu__item {
  display: inline-block;
  text-transform: uppercase;
  margin: 0 1.25rem;

  transition: transform 0.2s ease-in-out;
}

.s-menu__item:hover {
  transform: scale(1.1);
}

.s-menu__icon {
  width: 2.5rem;
  margin: 0 1.25rem;
}

/* BUTTONS */

.s-controller {
  width: 100%;
  position: absolute;
  bottom: 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.s-controller__button {
  z-index: 1;
  width: 2.5rem;
  height: 2.5rem;
  border: 0.1875rem solid white;
  border-radius: 50%;

  font-size: 1rem;
  font-weight: bold;
  background-color: var(--primary-color);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}

.s-controller__button:nth-child(2) {
  margin: 0 3.75rem;
}

.s-controller__button:hover {
  transform: scale(1.1);
}

.s-controller__button--active {
  background-color: #fff;
  color: var(--primary-color);
  border: 0.1875rem solid var(--primary-color);
  outline: solid 0.125rem #fff;
}

.s-controller__line {
  background-color: #fff;
  width: 50%;
  height: 2px;
  position: absolute;
}

/* HOVER ANIMATIONS */

.s-card--hovered .s-card__background {
  cursor: pointer;
  opacity: 0;
}

.s-card--hovered .s-card__image {
  transform: scale(1.4);
  filter: drop-shadow(30px 10px 4px rgba(0, 0, 0, .5));
}

.s-card--hovered .s-card__title {
  bottom: 50%;
}

@media screen and (max-width: 750px) {
  .s-menu {
    padding-top: 0;
  }

  .s-menu ul {
    background-color: rgba(0, 0, 0, 0.603);
    order: 1;

    display: flex;
    flex-direction: column;
  }

  .s-menu ul .s-menu__item--off {
    overflow: hidden;
    opacity: 0.5;
    
    height: 0;
    
    display: none;
    transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
  
  .s-menu ul .s-menu__item--on {
    height: auto;
    margin: 0;
    padding: 10px 0;
    opacity: 1;
    border-bottom: 1px solid #fff;
    
    display: inline-block;
    transition: height 0.5s ease, opacity 0.5s ease-in-out;
  }

  .s-menu ul .s-menu__item:nth-child(1) {
    border-top: 1px solid #fff;
  }

  .s-menu ul .s-menu__item:nth-child(3) {
    display: inline-block;
    height: auto;
    order: -1;
    margin: 10px auto 0 auto;
    border: none;
  }

  .s-menu ul .s-menu__item:hover {
    transform: none;
  }

  .s-menu ul .s-menu__item a:hover {
    color: var(--primary-color);
    transition: color .3s ease-in-out;
  }

  .s-container .s-cards-carousel {
    width: calc(100vw / 2 - 5%);
  }

  .s-card:nth-child(1) {
    transform: rotateY(0deg) translateZ(40vw);
  }
  
  .s-card:nth-child(2) {
    transform: rotateY(120deg) translateZ(40vw);
  }
  
  .s-card:nth-child(3) {
    transform: rotateY(240deg) translateZ(40vw);
  }

  .s-card__title {
    font-size: 1.6rem;
  }
}