@import url(reset.css);
@import url(global.css);
@import url(assets/css/components/_navigator.css);
@import url(components/_pills.css);
@import url(components/_link-button.css);
@import url(components/_gallery.css);

/* WRAPPER */

.s-wrapper {
  display: flex;
  height: 100%;
  width: 95vw;
  flex-flow: row nowrap;
}

.s-wrapper video {
  width: 100%;
  position: fixed;
}

@media screen and (max-width: 1678px) {
  .s-wrapper video {
    height: 100%;
    width: auto;
  }
}

/* LEFT COLUMN */

.s-wrapper .s-left-column {
  width: 10%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;

  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* MAIN CONTENT */

.s-wrapper .s-main-content {
  height: 100%;
  width: 90%;
  padding-left: 10%;
  position: relative;
}

.s-wrapper .s-main-content__top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.s-wrapper .s-main-content__bottom {
  position: fixed;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.s-wrapper .s-main-content .s-logo img {
  width: 100%;
  max-width: 1000px;

  margin-top: 50px;
  margin-left: 0;
  margin-bottom: 30px;
}

.s-wrapper .s-main-content .s-description {
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 50%;
  padding: 20px;
  border-radius: 10px;
}

.s-wrapper .s-main-content .s-description .s-description__text {
  color: #fff;
  line-height: 170%;
}

.s-wrapper .s-main-content .s-description .pills {
  margin-bottom: 20px;
}

/* BACKGROUND IMAGES SPIDER MAN */

.s-spider-man-01-01 {
  background-image: url(/assets/images/spiderman-tobey/movie-01/background.png);
  background-size: cover;
}

.s-spider-man-01-02 {
  background-image: url(/assets/images/spiderman-tobey/movie-02/background.png);
}

.s-spider-man-01-03 {
  background-image: url(/assets/images/spiderman-tobey/movie-03/background.png);
}

/* MEDIA QUERIES */

@media screen and (max-width: 1205px) {
  body {
    background-image: url(/assets/images/pic-sm-bg-01.jpg);
    background-size: cover;
    background-position: center center;
  }

  .s-wrapper video {
    display: none;
  }

  .s-wrapper .s-main-content__bottom {
    position: initial;
  }

  .s-wrapper .s-main-content .s-description {
    max-width: 100%;
  }
}