.gallery {
  padding: 20px;
  padding-left: 0;

  display: flex;
  flex-wrap: wrap;
}

.gallery ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gallery ul li {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 25px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 10px;
  flex: auto;
}

.gallery ul li a img {
  border-radius: 8px;
  width: 100%;
  max-width: 300px;
}