.navigator {
  height: 80vh;
  width: 100%;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigator::before {
  content: "";
  top: 0;
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #fff;
}

.navigator .navigator__icon {
  position: absolute;
  top: -20px;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.navigator .navigator__icon:hover {
  transform: scale(1.1);
  filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.473));
}

.navigator ul li {
  margin: 60px 0;
}

.navigator ul li:first-child {
  margin-top: 0;
}

.navigator ul li:last-child {
  margin-bottom: 0;
}

.navigator ul li a {
  height: 45px;
  width: 45px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: #000;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: color .5s ease-in-out, background-color .5s ease-in-out, transform .5s ease-in-out;
}

.navigator ul li a:hover,
.navigator ul li a.active {
  color: var(--primary-color);
  background-color: #fff;
  transform: scale(1.1);
}

@media screen and (max-width: 700px) {
  .navigator ul li a {
    width: 30px;
    height: 30px;
  }
}